{% load humanize %}

<div class="w-full lg:w-1/4 lg:sticky top-5 flex flex-col gap-y-4">
    <ul class="child:flex child:items-center child:justify-between space-y-8">
        <li>
            <p>قیمت کالاها ({{ cart|length }})</p>
            <p class="flex gap-x-1 text-gray-600 dark:text-gray-300 ">{{ total_price|intcomma }}<span class="hidden xl:flex">تومان</span></p>
        </li>
        <li class="border-t-2 border-dashed border-gray-400 pt-8">
            <p> مبلغ نهایی :</p>
            <p class="font-DanaMedium text-xl">{{ total_price|intcomma }} تومان</p>
        </li>
    </ul>

<a href="{% url 'checkout_page' %}">
    <button type="button" class="mt-4 w-full bg-red-600 text-white p-3 rounded-lg font-DanaBold">
        تایید و تکمیل سفارش
    </button>
</a>
</div>