{% extends "base.html" %}

{% block title %}
  {{ product.name }}
    <script>
    const basePrice = {{ product.price|floatformat:"0" }};
</script>
{% endblock %}

{% block content %}

    <main class="container">
        <!-- Breadcrumb -->
        <nav class="flex mt-8" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href={% url 'home' %}"
                        class="inline-flex items-center text-sm gap-x-1  text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="size-4 mb-0.5">
                            <use/>
                        </svg>
                        صفحه اصلی
                    </a>
                </li>
                <li class="inline-flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
                    <a href="{% url "product:category_list" %}"
                        class="inline-flex items-center text-sm gap-x-1  text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                       دسته بندی ها
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm  text-gray-500 md:ms-2 dark:text-gray-400">جزییات محصول</span>
                    </div>
                </li>
            </ol>
        </nav>
        <!-- PRODUCT DETAILS SECTION -->
        <section
    class="mt-5 flex flex-col lg:flex-row items-start gap-4 child:rounded-lg child:bg-white child:dark:bg-gray-800 child:shadow child:p-4">
    <div class="w-full lg:w-3/4">
        <div class="flex flex-col md:flex-row justify-start gap-x-8 xl:gap-x-2 items-start">
            <div class="w-2/4 hidden md:flex flex-col justify-center items-center gap-y-4">
                <span class="open-sliderModal">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="cursor-pointer object-cover" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/500x500.png?text=No+Image" class="cursor-pointer object-cover" alt="تصویر موجود نیست">
                    {% endif %}
                </span>
                <div class="grid grid-cols-12 child:col-span-3 child:app-border gap-x-4 child:size-16 child:rounded-lg child:cursor-pointer">
                    {# تصویر اصلی به عنوان اولین عکس کوچک #}
                    {% if product.image %}
                    <div class="p-1 open-sliderModal">
                        <img src="{{ product.image.url }}" class="object-cover  rounded-lg">
                    </div>
                    {% endif %}
                    {# حلقه برای نمایش تصاویر گالری #}
                    {% for img in product.images.all %}
                    <div class="p-1 open-sliderModal">
                        <img src="{{ img.image.url }}" class="object-cover  rounded-lg">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider-modal">
                <div class="flex w-full h-fit items-center justify-between">
                    <h1 class="font-DanaMedium text-lg">
                        تصاویر {{ product.name }}
                    </h1>
                  <button class="swiper-close-button">
                           &times;
                  </button>
                </div>

                <div class="swiper ProductDetailsSlider mt-14 px-10 w-96 relative">
                    <div class="swiper-wrapper w-[50%] child:w-full child:rounded-lg child:overflow-hidden">
                      {% if product.image %}
                      <div class="swiper-slide">
                        <img src="{{ product.image.url }}"  alt="{{ product.name }}">
                      </div>
                      {% endif %}
                      {% for img in product.images.all %}
                      <div class="swiper-slide">
                        <img src="{{ img.image.url }}"  alt="">
                      </div>
                      {% endfor %}
                    </div>
                </div>
                <button class="slider-navigate_btn absolute left-40 top-[17rem] border dark:border-gray-700 border-gray-200 button-prev-ProductDetailsSlider z-20">
                    <svg class="size-6 -rotate-90">

                         <use href="arrow-left"></use>

                    </svg>
                </button>
                <button
                    class="slider-navigate_btn absolute right-40 top-[17rem] border dark:border-gray-700 border-gray-200 button-next-ProductDetailsSlider z-10">
                    <svg class="size-6 rotate-90">
                       <use href="#arrow-right"></use>
                    </svg>
                </button>

            </div>
            <div class="w-full md:w-3/4 flex flex-col gap-y-7">
                <div class="flex items-center justify-between">
                    <a href="{{ product.category.get_absolute_url }}" class="font-DanaMedium text-sky-400">{{ product.category.name }}</a>
                    <div class="hidden md:flex items-center gap-x-2">
                        </div>
                </div>
                <div class="flex md:hidden">
                    <div class="swiper MobileProductSlider w-full">
                        <div class="swiper-wrapper w-full child:w-full child:overflow-hidden child:rounded-lg">
                          {% if product.image %}
                          <div class="swiper-slide">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                          </div>
                          {% endif %}
                          {% for img in product.images.all %}
                          <div class="swiper-slide">
                            <img src="{{ img.image.url }}" alt="">
                          </div>
                          {% endfor %}
                        </div>
                        <div class="swiper-pagination MobileProductSlider-pagination"></div>
                    </div>
                </div>

                <div class="flex flex-col gap-y-3">
                    <p class="text-lg font-DanaDemiBold dark:text-gray-300">
                        {{ product.name }}
                    </p>
                    <p class="text-sm text-gray-300 dark:text-gray-500">
                        {{ product.description|linebreaks }}
                    </p>
                    <div class="flex items-center gap-x-2">
                        </div>
                </div>
                <div class="flex flex-col gap-y-4">
                    </div>
                <div class="w-full flex flex-col gap-y-4">
                    </div>
            </div>
        </div>
        <div class="mt-10 lg:mr-2 grid grid-cols-12 ...">
            </div>
    </div>
    <div class="w-full lg:w-1/4 lg:sticky top-5 flex flex-col gap-y-6">



        <form id="add-to-cart-form" method="post" action="{% url 'add_to_cart' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">

            <div class="flex items-center gap-x-1">
                <p class="text-2xl font-DanaDemiBold">{{ product.price|floatformat:"0" }}</p>
                <p class="">تومان</p>
                   </div>

            <button type="button" class="w-full flex items-center justify-between gap-x-1 rounded-lg border border-gray-200 dark:border-white/20 py-2 px-3 mt-4">

                <svg class="w-6 h-6 increment text-green-600 cursor-pointer">

                    <use href="#plus"></use>
                      </svg>
              <input type="number" name="count" id="product_count" min="1" max="{{ product.stock }}" value="1"
                  class="custom-input mr-4 text-lg bg-transparent">

                <svg class="w-6 h-6 decrement text-red-500 cursor-pointer">
                    <use href="#minus"></use></svg></button>
            <div

                    class="w-full flex items-center gap-x-1 justify-between dark:bg-gray-900 dark:text-gray-400 bg-gray-100 transition-all rounded-lg py-2 px-2 xl:px-3 font-DanaMedium text-sm xl:text-base mt-4">
                 <p>مجموع خرید :</p>
                 <p>{{ product.price|floatformat:"0" }} تومان</p>
                    </div>

            <div class="relative overflow-hidden text-sm font-DanaDemiBold text-right mt-4">
                        {% if product.stock < 10 and product.stock > 0 %}
                        <p class="text-red-500">🔥 تنها {{ product.stock }} عدد در انبار باقیست!</p>
                        {% else %}
                        <p class="text-green-500">موجود در انبار</p>
                        {% endif %}
                    </div>


            <button type="submit" class="w-full flex items-center gap-x-1 justify-center bg-blue-500 text-white hover:bg-blue-600 transition-all rounded-lg shadow py-2 mt-4">

                 افزودن به سبد

                <svg class="w-5 h-5"></svg>
                    </button>
            </form>


        <div class="text-sm  text-gray-400 flex xl:items-center gap-x-1">
            <svg class="w-5 h-5">
                <use href="#info"></use>
            </svg>
            <p>ارسال رایگان برای خریدهای بالای 400 هزار تومان</p>
        </div>
    </div>
</section>


        <section class="relative mt-10 flex flex-col items-start gap-4 rounded-lg bg-white dark:bg-gray-800 shadow p-4">
            <div class="w-full py-3 flex items-center gap-x-6 child:font-DanaMedium tab-buttons z-10 border-b  border-gray-600/20 dark:border-b-gray-200/20">
              <button class="tab-btn text-blue-500" data-target="tab1" >معرفی محصول</button>
              <button class="tab-btn text-gray-500 dark:text-gray-300" data-target="tab2">مشخصات</button>
              <button class="tab-btn text-gray-500 dark:text-gray-300" data-target="tab3">دیدگاه‌ها</button>
            </div>
            <div class="tab-content tab1 block">
                <h2 class="font-DanaDemiBold border-b-2 border-blue-500 w-fit p-1 text-lg">معرفی</h2>
                <p class="mt-4 leading-8">
                   {{ product.description }}
                    <a href="#" class="flex gap-x-1 items-center text-blue-400">
                        مشاهده بیشتر
                        <svg class="size-4">
                            <use href="#chevron-left" />
                        </svg>
                    </a>
                </p>
            </div>
            <div class="tab-content tab2 hidden w-full lg:w-[50%]">
                <h2 class="font-DanaDemiBold border-b-2 border-blue-500 w-fit p-1 text-lg">مشخصات کلی
                </h2>
                <div class="p-4 my-5 w-full mx-auto flex justify-center items-center gap-x-20">
                    <ul class="space-y-3 text-gray-500 dark:text-gray-300 lg:w-2/4 child:pt-2">
                        <li>مدل</li>
                        <li>نمایشگر</li>
                        <li>چیپست</li>
                        <li>دوربین</li>
                        <li>باتری</li>
                    </ul>
                    <ul class="space-y-3 text-gray-800 dark:text-gray-200 lg:w-2/4 divide-y divide-gray-200 dark:divide-gray-700 font-DanaMedium child:line-clamp-1">
                        <li class="pt-2">آیفون ۱۶ پرو</li>
                        <li class="pt-2">6.3 اینچ LTPO OLED، 120Hz</li>
                        <li class="pt-2">Apple A18 Pro</li>
                        <li class="pt-2">چهارگانه: 48 + 12 + 12 + TOF 3D</li>
                        <li class="pt-2">باتری ۳۵۰۰ میلی‌آمپر با شارژ سریع</li>
                    </ul>
                </div>
                <a href="#" class="flex gap-x-1 items-center text-blue-400">
                    مشاهده بیشتر
                    <svg class="size-4">
                        <use href="#chevron-left" />
                    </svg>
                </a>
            </div>
            <div class="tab-content tab3 hidden w-full">
                <div class="flex items-center gap-x-2 mb-6">
                    <h2 class="font-DanaMedium text-2xl ">
                        دیدگاه ها
                    </h2>
                    <p class="text-sm text-blue-500">
                        (28 دیدگاه)
                    </p>
                </div>

                <div class="w-full flex flex-col md:flex-row items-start gap-10">

                    <!-- ALL COMMENTS -->
                    <ul class="lg:w-3/4 flex flex-col gap-y-2 child:w-full ">
                        <!-- COMMENT ITEMS -->

                        <li class="child:flex py-4 border-b border-gray-200 dark:border-b-gray-200/20 child:border-white/20">
                            <!-- TITLE -->
                            <div class="flex items-center gap-x-2">
                                <h2 class="font-DanaMedium text-lg mb-1"> دوربین ناامیدکننده بود </h2>
                                <span class="px-2 py-1 mb-2 rounded-lg bg-blue-500 text-white text-xs">خریدار</span>
                            </div>
                            <!-- COOMENT TEXT -->
                            <div class="flex-col">
                                <h2 class="flex items-center gap-x-1 text-red-500 mb-4">
                                    <svg class="w-4 h-4">
                                        <use href="#hand-down"></use>
                                    </svg>
                                    پیشنهاد نمیشود
                                </h2>
                                <p class="text-gray-500 dark:text-gray-200 mb-2">
                                    دوربین گوشی در نور کم کیفیت خوبی نداره. انتظار بیشتری داشتم.
                                </p>
                            </div>
                            <!-- COMMENT FOOTER -->
                            <div class="mt-2 lg:mt-0  flex-col lg:flex-row gap-y-2 lg:items-center justify-between">
                                <div class="flex items-center gap-x-4 text-gray-400 text-sm">
                                    <p>12 بهمن 1402</p>
                                    <p>علی محمدی</p>
                                </div>
                                <div class="flex items-center gap-x-2 flex-wrap mt-2">
                                    <p class="text-gray-400 text-sm ">آیا این دیدگاه برایتان مفید بود؟</p>
                                    <div class="flex items-center gap-x-2 child:flex child:items-center child:gap-x-1 child:rounded-lg child:p-2 child:font-DanaMedium child:duration-300
                                    child:transition-all child:text-sm">
                                        <button
                                            class="text-green-600 ring-transparent ring-1 focus:ring-green-600  dark:focus:ring-green-600">
                                            4
                                            <svg class="w-4 h-4">
                                                <use href="#hand-up"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="text-red-500 ring-transparent ring-1 focus:ring-[#EF4343]  dark:focus:ring-[#EF4343]">
                                            15
                                            <svg class="w-4 h-4">
                                                <use href="#hand-down"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
{#                        <!-- COMMENT ITEMS -->#}
{#                        <li class="child:flex py-4 border-b border-gray-200 dark:border-b-gray-200/20 dark:border-b-gray-200/20 child:border-white/20">#}
{#                            <!-- TITLE -->#}
{#                            <div class="flex items-center gap-x-2">#}
{#                                <h2 class="font-DanaMedium text-lg mb-1">باطری خیلی خوبه</h2>#}
{#                                <span class="px-2 py-1 mb-2 rounded-lg bg-blue-500 text-white text-xs">خریدار</span>#}
{#                            </div>#}
{#                            <!-- COOMENT TEXT -->#}
{#                            <div class="flex-col">#}
{#                                <h2 class="flex items-center gap-x-1 text-green-500 mb-4">#}
{#                                    <svg class="w-4 h-4">#}
{#                                        <use href="#hand-up"></use>#}
{#                                    </svg>#}
{#                                    پیشنهاد میشود#}
{#                                </h2>#}
{#                                <p class="text-gray-500 dark:text-gray-200 mb-2">#}
{#                                    شارژدهی گوشی فوق‌العاده‌ست، با استفاده معمولی تا دو روز هم دوام میاره.#}
{#                                </p>#}
{#                            </div>#}
{#                            <!-- COMMENT FOOTER -->#}
{#                            <div class="mt-2 lg:mt-0 flex-col lg:flex-row gap-y-2 lg:items-center justify-between">#}
{#                                <div class="flex items-center gap-x-4 text-gray-400 text-sm">#}
{#                                    <p>1 بهمن 1402</p>#}
{#                                    <p>محمد صفدری</p>#}
{#                                </div>#}
{#                                <div class="flex items-center gap-x-2 flex-wrap mt-2">#}
{#                                    <p class="text-gray-400 text-sm">آیا این دیدگاه برایتان مفید بود؟</p>#}
{#                                    <div class="flex items-center gap-x-2 child:flex child:items-center child:gap-x-1 child:rounded-lg child:p-2 child:font-DanaMedium child:duration-300#}
{#                                    child:transition-all child:text-sm">#}
{#                                        <button#}
{#                                            class="text-green-600 ring-transparent ring-1 focus:ring-green-600  dark:focus:ring-green-600">#}
{#                                            7#}
{#                                            <svg class="w-4 h-4">#}
{#                                                <use href="#hand-up"></use>#}
{#                                            </svg>#}
{#                                        </button>#}
{#                                        <button#}
{#                                            class="text-red-500 ring-transparent ring-1 focus:ring-[#EF4343]  dark:focus:ring-[#EF4343]">#}
{#                                            5#}
{#                                            <svg class="w-4 h-4">#}
{#                                                <use href="#hand-down"></use>#}
{#                                            </svg>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}

                        <!-- HIDDEN COMMENTS -->
{#                        <!-- COMMENT ITEMS -->#}
{#                        <li dark:border-b-gray-200/20#}
{#                            class="hidden-comment-item hidden child:flex py-4 border-b border-gray-200 dark:border-b-gray-200/20 child:border-white/20">#}
{#                            <!-- TITLE -->#}
{#                            <div class="flex items-center gap-x-2">#}
{#                                <h2 class="font-DanaMedium text-lg mb-1">باطری فوق‌العاده‌اس</h2>#}
{#                                <span class="px-2 py-1 mb-2 rounded-lg bg-blue-500 text-white text-xs">خریدار</span>#}
{#                            </div>#}
{#                            <!-- COOMENT TEXT -->#}
{#                            <div class="flex-col">#}
{#                                <h2 class="flex items-center gap-x-1 text-green-500 mb-4">#}
{#                                    <svg class="w-4 h-4">#}
{#                                        <use href="#hand-up"></use>#}
{#                                    </svg>#}
{#                                    پیشنهاد میشود#}
{#                                </h2>#}
{#                                <p class="text-gray-500 dark:text-gray-200 mb-2 line-clamp-2">#}
{#                                    من باطری گوشی رو با استفاده زیاد تست کردم، دو روز کامل جواب داد. عالیه!#}
{#                                </p>#}
{##}
{#                            </div>#}
{#                            <!-- COMMENT FOOTER -->#}
{#                            <div class="mt-2 lg:mt-0 flex-col lg:flex-row gap-y-2 lg:items-center justify-between">#}
{#                                <div class="flex items-center gap-x-4 text-gray-400 text-sm">#}
{#                                    <p>11 بهمن 1402</p>#}
{#                                    <p>امیررضا کریمی</p>#}
{#                                </div>#}
{#                                <div class="flex items-center gap-x-2 flex-wrap mt-2">#}
{#                                    <p class="text-gray-400 text-sm">آیا این دیدگاه برایتان مفید بود؟</p>#}
{#                                    <div class="flex items-center gap-x-2 child:flex child:items-center child:gap-x-1 child:rounded-lg child:p-2 child:font-DanaMedium child:duration-300#}
{#                child:transition-all child:text-sm">#}
{#                                        <button#}
{#                                            class="text-green-600 ring-transparent ring-1 focus:ring-green-600  dark:focus:ring-green-600">#}
{#                                            78#}
{#                                            <svg class="w-4 h-4">#}
{#                                                <use href="#hand-up"></use>#}
{#                                            </svg>#}
{#                                        </button>#}
{#                                        <button#}
{#                                            class="text-red-500 ring-transparent ring-1 focus:ring-[#EF4343]  dark:focus:ring-[#EF4343]">#}
{#                                            25#}
{#                                            <svg class="w-4 h-4">#}
{#                                                <use href="#hand-down"></use>#}
{#                                            </svg>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
                        <!-- COMMENT ITEMS -->

                        <!-- COMMENT ITEMS -->

                </div>
            </div>
        </section>
    </main>

{% endblock %}
{% block exteraJS %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

     <script>

        const mobileSwiper = new Swiper('.MobileProductSlider', {

            pagination: {
                el: '.MobileProductSlider-pagination',
                clickable: true,
            },
        });


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        const desktopSwiper = new Swiper('.ProductDetailsSlider', {

            navigation: {
                nextEl: '.button-next-ProductDetailsSlider',
                prevEl: '.button-prev-ProductDetailsSlider',
            },
        });
        const closeButton = document.querySelector('.swiper-close-button');
        const modal = document.querySelector('.product-modal');

        if (closeButton && modal) {
            closeButton.addEventListener('click', function() {

                modal.classList.add('hidden');
            });
        }
    });
</script>
     </script>



{% endblock %}