{% extends "base.html" %}
{% load static %}
{% block title %}
  {% if category %}{{ category.name }}{% else %}All Products{% endif %}
{% endblock %}

{#<div class="product-list">#}
{#    <h1>{% if category %}{{ category.name }}{% else %}All Products{% endif %}</h1>#}
{##}
{#    <div class="products-container">#}
{#        {% for product in products %}#}
{#            <div class="product-item">#}
{#                <a href="{{ product.get_absolute_url }}">#}
{#                    <img src="{% if product.image %}{{ product.image.url }}{% else %}#placeholder.jpg{% endif %}" alt="{{ product.name }}">#}
{#                </a>#}
{#                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>#}
{#                <p class="price">${{ product.price }}</p>#}
{#            </div>#}
{#        {% empty %}#}
{#            <p>There are no products in this category.</p>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}

{% block content %}'

    <main class="container">
        <!-- Breadcrumb -->
        <nav class="flex mt-8" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="{{ home }}"
                        class="inline-flex items-center text-sm gap-x-1  text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="size-4 mb-0.5">
                            <use href="home" />
                        </svg>
                        صفحه اصلی
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm  text-gray-500 md:ms-2 dark:text-gray-400">فروشگاه</span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="flex flex-col lg:flex-row gap-4 mt-5">

            <!-- TOP FILTER BOX & PRODUCT & PAGINATION -->
            <div class="lg:w-3/4">
                <!-- MOBILE FILTERS -->
                <div class="flex lg:hidden items-center gap-x-2">
                    <!-- SORT BTN -->
                    <button class="sort-modal-open text-sm mb-4 py-1.5 px-3 app-border rounded-full flex items-center gap-x-1">
                        <svg class="size-4 text-gray-400">
                            <use href="#sort-list"></use>
                        </svg>
                        <p>مرتبط ترین</p>
                    </button>
                    <!-- SORT MODAL -->
                    <div class="sort-modal">
                        <div class="flex justify-between sort-modal-close">
                            <p>مرتب سازی بر اساس </p>
                            <svg class="size-5 text-gray-800 dark:text-gray-300">
                                <use href="#x-mark"></use>
                            </svg>
                        </div>
                        <ul class="flex w-full child:w-full child:text-center flex-col items-center justify-center divide-y divide-gray-300 dark:divide-gray-200/20 child:py-3">
                            <li>مرتبط‌ترین</li>
                            <li>پربازدیدترین</li>
                            <li>جدیدترین</li>
                            <li>گران‌ترین</li>
                            <li>
                                منتخب</li>
                            <li>پیشنهاد خریداران</li>
                            <li>
                                سریع‌ترین ارسال</li>
                        </ul>
                    </div>
                    <!-- FILTER BTN -->
                    <button class="filter-modal-open text-sm mb-4 py-1.5 px-3 app-border rounded-full flex items-center gap-x-1">
                        <svg class="size-4 text-gray-400">
                            <use href="#filter"></use>
                        </svg>
                        <p>فیلتر</p>
                    </button>
                    <!-- Filter MODAL -->
                    <div class="filter-modal">
                        <div class="flex justify-between filter-modal-close">
                            <p>فیلتر</p>
                            <svg class="size-5 text-gray-800 dark:text-gray-300">
                                <use href="#x-mark"></use>
                            </svg>
                        </div>
                          <!-- FILTERS -->
                <div class="w-full divide-y divide-slate-200 dark:divide-gray-700/20">
                    <!-- Accordion -->
                    <div class="">
                        <button onclick="toggleAccordion(3)"
                            class="w-full flex justify-between items-center px-2 xl:px-4 pt-4 mb-4 text-gray-800 dark:text-gray-100">
                            <span>دسته بندی </span>
                            <span id="icon-1" class="text-gray-800 dark:text-gray-100">
                                <svg class="size-4 transition-transform duration-300">
                                    <use href="#chevron-left"></use>
                                </svg>
                            </span>
                        </button>
                        <div id="content-3" class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
                            <div class="pb-3 text-gray-700 dark:text-gray-300 w-full flex flex-col gap-y-1.5">
                                <!-- item -->
                                <div class="inline-flex items-center mr-2.5 mt-1">
                                    <label class="relative flex cursor-pointer items-center rounded-full p-3"
                                        for="ripple-5" data-ripple-dark="true">
                                        <input id="ripple-5" type="checkbox"
                                            class="peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-slate-300 shadow hover:shadow-md transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-slate-400 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-slate-400 hover:before:opacity-10 dark:bg-gray-600 dark:checked:bg-blue-500 darKchecked:bg-blue-500  " />
                                        <span
                                            class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5"
                                                viewBox="0 0 20 20" fill="currentColor" stroke="currentColor"
                                                stroke-width="1">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                    </label>
                                    <label class="cursor-pointer text-gray-800 dark:text-gray-400 mr-1" for="ripple-5">
                                        همه کالاها
                                    </label>
                                </div>
                                <!-- item -->
                                <div class="inline-flex items-center mr-2.5">
                                    <label class="relative flex cursor-pointer items-center rounded-full p-3"
                                        for="ripple-6" data-ripple-dark="true">
                                        <input id="ripple-6" type="checkbox"
                                            class="peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-slate-300 shadow hover:shadow-md transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-slate-400 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-slate-400 hover:before:opacity-10 dark:bg-gray-600 dark:checked:bg-blue-500 darKchecked:bg-blue-500  " />
                                        <span
                                            class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5"
                                                viewBox="0 0 20 20" fill="currentColor" stroke="currentColor"
                                                stroke-width="1">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                    </label>
                                    <label class="cursor-pointer text-gray-800 dark:text-gray-400 mr-1" for="ripple-6">
                                        موبایل
                                    </label>
                                </div>
                                <!-- item -->
                                <div class="inline-flex items-center mr-2.5">
                                    <label class="relative flex cursor-pointer items-center rounded-full p-3"
                                        for="ripple-7" data-ripple-dark="true">
                                        <input id="ripple-7" type="checkbox"
                                            class="peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-slate-300 shadow hover:shadow-md transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-slate-400 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-slate-400 hover:before:opacity-10 dark:bg-gray-600 dark:checked:bg-blue-500 darKchecked:bg-blue-500  " />
                                        <span
                                            class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5"
                                                viewBox="0 0 20 20" fill="currentColor" stroke="currentColor"
                                                stroke-width="1">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                    </label>
                                    <label class="cursor-pointer text-gray-800 dark:text-gray-400 mr-1" for="ripple-7">
                                        لپ تاپ
                                    </label>
                                </div>
                                <!-- item -->
                                <div class="inline-flex items-center mr-2.5">
                                    <label class="relative flex cursor-pointer items-center rounded-full p-3"
                                        for="ripple-8" data-ripple-dark="true">
                                        <input id="ripple-8" type="checkbox"
                                            class="peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-slate-300 shadow hover:shadow-md transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-slate-400 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-slate-400 hover:before:opacity-10 dark:bg-gray-600 dark:checked:bg-blue-500 darKchecked:bg-blue-500  " />
                                        <span
                                            class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5"
                                                viewBox="0 0 20 20" fill="currentColor" stroke="currentColor"
                                                stroke-width="1">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                    </label>
                                    <label class="cursor-pointer text-gray-800 dark:text-gray-400 mr-1" for="ripple-8">
                                        هدفون، هدست
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TOGGLE SWITCH -->
                    <div class="w-full justify-between flex items-center gap-x-3 px-2 xl:px-4 py-4" dir="ltr">
                        <label for="hs-valid-toggle-switch5" class="relative inline-block w-11 h-6 cursor-pointer">
                            <input type="checkbox" id="hs-valid-toggle-switch5" class="peer sr-only">
                            <span
                                class="absolute inset-0 bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-blue-500 dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
                            <span
                                class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-white rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white"></span>
                        </label>
                        <label for="hs-valid-toggle-switch5" class="text-gray-800 dark:text-gray-100">
                            فقط کالا های موجود
                        </label>
                    </div>
                    <!-- TOGGLE SWITCH -->
                    <div class="w-full justify-between flex items-center gap-x-3 py-4 px-2 xl:px-4" dir="ltr">
                        <label for="hs-valid-toggle-switch6" class="relative inline-block w-11 h-6 cursor-pointer">
                            <input type="checkbox" id="hs-valid-toggle-switch6" class="peer sr-only">
                            <span
                                class="absolute inset-0 bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-blue-500 dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
                            <span
                                class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-white rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white"></span>
                        </label>
                        <label for="hs-valid-toggle-switch6"
                            class="text-gray-800 dark:text-gray-100 flex items-center gap-x-2">
                            <img class="size-5" src="./images/svg/time.png" alt="">
                            ارسال امروز
                        </label>
                    </div>
                    <!-- Accordion -->
                    <div class="">
                        <button onclick="toggleAccordion(4)"
                            class="w-full flex justify-between items-center px-2 xl:px-4 py-4 text-gray-800 dark:text-gray-100">
                            <span>محدوده قیمت</span>
                            <span id="icon-1" class="text-gray-800 dark:text-gray-100">
                                <svg class="size-4 transition-transform duration-300">
                                    <use href="#chevron-left"></use>
                                </svg>
                            </span>
                        </button>
                        <div id="content-4" class="price-slider max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
                            <div class="pb-3 text-gray-700 dark:text-gray-300 w-full px-4">
                                <div class="wrapper mt-5">
                                    <div class="slider-bar">
                                        <div class="progress"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" min="0" max="100000" value="0" class="min-range" />
                                        <input type="range" min="0" max="100000" value="35000" class="max-range" />
                                    </div>
                                    <div class="price-input mt-4 text-gray-800 dark:text-gray-500">
                                        <div class="field justify-start">
                                            <span class="text-sm font-DanaMedium mr-2">تومان</span>
                                            <p class="min-input">0</p>
                                        </div>
                                        <div class="field justify-end">
                                            <span class="text-sm font-DanaMedium mr-2">تومان</span>
                                            <p class="max-input">350,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TOGGLE SWITCH -->
                    <div class="w-full justify-between flex items-center gap-x-3 px-2 xl:px-4 py-4" dir="ltr">
                        <label for="hs-valid-toggle-switch7" class="relative inline-block w-11 h-6 cursor-pointer">
                            <input type="checkbox" id="hs-valid-toggle-switch7" class="peer sr-only">
                            <span
                                class="absolute inset-0 bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-blue-500 dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
                            <span
                                class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-white rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white"></span>
                        </label>
                        <label for="hs-valid-toggle-switch7"
                            class="text-gray-800 dark:text-gray-100 flex items-center gap-x-2">
                            <img class="size-5" src="./images/svg/Seller.svg" alt="">
                            ارسال فروشنده
                        </label>
                    </div>
                    <!-- TOGGLE SWITCH -->
                    <div class="w-full justify-between flex items-center gap-x-3 px-2 xl:px-4 py-4" dir="ltr">
                        <label for="hs-valid-toggle-switch8" class="relative inline-block w-11 h-6 cursor-pointer">
                            <input type="checkbox" id="hs-valid-toggle-switch8" class="peer sr-only">
                            <span
                                class="absolute inset-0 bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-blue-500 dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
                            <span
                                class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-white rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white"></span>
                        </label>
                        <label for="hs-valid-toggle-switch8"
                            class="text-gray-800 dark:text-gray-100 flex items-center gap-x-1">
                            <img class="size-5" src="./images/svg/shop.png" alt="">
                            خرید حضوری در تهران
                        </label>
                    </div>
                </div>
                    </div>
                    <h1>{% if category %}<span>{{ category.name }}</span>

                    {% else %}All Products{% endif %}</h1>
                </div>
                <!-- TOP FILTER BOX -->
                <div class="hidden lg:flex items-center justify-between  mb-6">
                   <div class="flex items-center gap-x-5">
                    <div class="flex items-center gap-x-2">
                        <svg class="size-6 text-gray-400">
                            <use href="#sort-list"></use>
                        </svg>
                        <h2 class="font-DanaDemiBold text-gray-400">مرتب سازی :</h2>
                    </div>
                    <ul
                        class="flex items-center gap-x-1 lg:gap-x-4 child:transition-all child:cursor-pointer child:rounded-lg child:px-1 child:py-1 child:text-sm child:lg:text-base">
                        <li class="text-blue-500">محبوب ترین</li>
                        <li class="text-gray-400">پرفروش ترین</li>
                        <li class="text-gray-400">ارزان ترین</li>
                        <li class="text-gray-400">گران ترین</li>
                    </ul>
                   </div>

                </div>
                <!-- PRODUCTS -->
                <div class="grid grid-cols-1 xxs:grid-cols-2 xs:grid-cols-2 sm:grid-cols-2 xl:grid-cols-3 gap-3 xs:gap-2 sm:gap-4">



                {% for product in products %}
                    <!-- PRODUCT ITEM -->
                    <div class=" product-card group">
                        <!-- product header -->

                        <!-- product img -->
                        <a href="{{ product.get_absolute_url }}">
                            <img class="product-card_img group-hover:opacity-0 absolute" src="{% if product.image %}{{ product.image.url }}{% else %}#placeholder.jpg{% endif %}" alt="{{ product.name }}">
                            <img class="product-card_img opacity-0 group-hover:opacity-100"
                                src="{% if product.image %}{{ product.image.url }}{% else %}#placeholder.jpg{% endif %}" alt="{{ product.name }}">
                        </a>
                        <!--  product footer -->
                        <div class="space-y-2">
                            <a href="{{ product.get_absolute_url }}" class="product-card_link">
                              {{ product.name }}
                            </a>
                            <!-- Rate and Price -->
                            <div class="product-card_price-wrapper">
                                <!-- RATE -->
                                <div class="product-card_rate">
                                    <span class="flex items-center gap-x-0.5">
                                        <svg class="size-4 text-blue-500 mb-0.5">
                                            <use href="#rocket"></use>
                                        </svg>
                                        <p class="text-xs">ارسال امروز</p>
                                    </span>
                                    <span class="text-gray-400 flex items-center text-sm gap-x-0.5">
                                        <p> 5.0 </p>
                                        <svg class="size-4 mb-1">
                                            <use href="#star"></use>
                                        </svg>
                                    </span>
                                </div>
                                <!-- Price -->
                                <div class="product-card_price">
{#                                    <del>{{ product.price }} <h6>تومان</h6></del>#}
                                    <p>{{ product.price }}</p>
                                    <span>تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PRODUCT ITEM -->
                {% endfor %}
                </div>
                <!-- PAGINATION -->
                 <div class="mt-10 w-full flex items-center justify-center">
                    <ul
                        class="flex items-center gap-x-3 child:flex child:items-center child:justify-center child:w-8 child:h-8 child:cursor-pointer child:shadow child:rounded-lg child:transition-all child:duration-300">
                        <li class="bg-white dark:bg-gray-800 hover:bg-gray-800 dark:hover:bg-blue-500 hover:text-white">
                            <svg class="size-5 rotate-180">
                                <use href="#chevron-left"></use>
                            </svg>
                        </li>
                        <li class="text-white bg-blue-500">
                            <a href="#">
                                1
                            </a>
                        </li>
                        <li class="bg-white dark:bg-gray-800 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white">
                            <a href="#">
                                2
                            </a>
                        </li>
                        <li class="bg-white dark:bg-gray-800 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white">
                            <a href="#">
                                ...
                            </a>
                        </li>
                        <li class="bg-white dark:bg-gray-800 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white">
                            <svg class="size-5">
                                <use href="#chevron-left"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

{% endblock %}