{% load static %}

<footer class="site-footer">
    <div class="footer-content">
        <p>© 2025 فروشگاه کارین. همه حقوق محفوظ است.</p>
        <ul class="social-links">
{#            <li><a href="#"><img src="{% static 'images/svg/facebook.png' %}" alt="فیسبوک"></a></li>#}
{#            <li><a href="#"><img src="{% static 'images/svg/instagram.png' %}" alt="اینستاگرام"></a></li>#}
{#            <li><a href="#"><img src="{% static 'images/svg/telegram.png' %}" alt="تلگرام"></a></li>#}
        </ul>
    </div>
</footer>
